<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFPL Interpreter</title>
</head>
<body>
    <form action="" method="post">
        <p>
            <!-- <input type="text" name="username"> -->
            <textarea name="code_in" cols="50" rows="10" placeholder="Code here: ">{{ message }}</textarea>
            <br>
            <textarea name="input_in" cols="50" rows="2" placeholder="Input area: (separated by comma)">{{ input }}</textarea>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

        <textarea cols="50" rows="10">{{ output }}</textarea>

</body>
</html>
